*{
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;

}

body {
    font-family: 'Roboto', sans-serif;/* Шрифт для сторінки */
    margin: 0;
    padding: 0;
}

header {
    background-color: #a2b8ce; /* Колір фону для header */
    padding: 10px 20px; /* Внутрішні відступи для header */
}

nav {
    display: flex;
    justify-content: space-around; /* Розподіл посилань по всій ширині */
    align-items: center; /* Вертикальне вирівнювання по центру */
}

nav a {
    color: rgb(0, 0, 0); /* Колір тексту */
    text-decoration: none; /* Без підкреслення */
    padding: 10px 15px; /* Внутрішні відступи для посилань */
    border-radius: 5px; /* Закруглені кути */
    transition: background-color 0.3s; /* Плавний перехід кольору фону */
    font-weight: 700;
}

nav a:hover {
    background-color: #86b5be; /* Колір фону при наведенні */
}

nav a.active {
    background-color: #007bff; /* Колір фону для активного посилання */
    color: white; /* Колір тексту для активного посилання */
}

header {
    background-color: #b2d3e2; /* Колір фону для header */
    padding: 10px 20px; /* Внутрішні відступи для header */
}

nav {
    display: flex;
    justify-content: space-around; /* Розподіл посилань по всій ширині */
    align-items: center; /* Вертикальне вирівнювання по центру */
}

nav a {
    color: rgb(0, 0, 0); /* Колір тексту */
    text-decoration: none; /* Без підкреслення */
    padding: 10px 15px; /* Внутрішні відступи для посилань */
    border-radius: 5px; /* Закруглені кути */
    transition: background-color 0.3s; /* Плавний перехід кольору фону */
}

nav a:hover {
    background-color: #a2cec4; /* Колір фону при наведенні */
}

nav a.active {
    background-color: #c5d3e3; /* Колір фону для активного посилання */
    color: rgb(243, 243, 243); /* Колір тексту для активного посилання */
}